<!DOCTYPE html>
<html lang="pt_br"> <!--lang é um atributo--> 
    <head> <!--Configurações do documento-->
        <!-- Meta dados são informações  para a página -->
        <meta charset="UTF-8"><!-- o cód para aceitar a lingua Portuguesa -->
        <meta name="viewport" content ="width = device-width, initial-scale=1.0">

        <!-- Chamando as folhas de style css -->
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/header.css">
        <link rel="stylesheet" href="/styles/partials/forms.css">
        <link rel="stylesheet" href="/styles/partials/page-give-classes.css">

        <!-- adicionar o Favicon na página, logo na aba -->
        <link rel="shortcut icon" href="/imagens/favicon.png" type="image/png">

        <!-- adicionando um estilo de letra chamado "Archivo" -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

        <title>Proffy | Sua plataforma de estudos online</title>

        <!-- Chamando o javascript -->
        <script src="/scripts/addField.js" defer></script>
    </head>

    <!--Todo conteúdo visual na página deverá ir na tag Body-->
    <body id="page-give-classes"> 

        <div id="container">
            <header class="page-header">
                <div class="top-bar-container">
                    <a href="/">
                        <img src="/imagens/icons/back.svg" alt="Voltar">
                    </a>
                    <img src="/imagens/logo.svg" alt="Proffy">
                </div>
                
                <div class="header-container">
                    <strong>Que incrível que você quer dar aulas</strong>
                    <p>O primeiro passo é preencher esse formulário de inscrição</p>
                   
                </div>
            </header>
            
            <main>
                <!-- criação dos forms -->
               <form action="/save-classes" id="create-class" method="POST"
                   <!-- espaço para preenchimento de dados -->
                   <fieldset>
                       <legend>Seus dados</legend>

                       <div class="input-block">
                           <label for="name">Nome Completo</label>
                           <input name="name" id="name" required>
                       </div>

                       <div class="input-block">
                            <label for="avatar">Link da sua foto<small>(comece com https://)</small></label>
                            <input name="avatar" id="avatar" type="url" required>
                        </div>

                        <div class="input-block">
                            <label for="whatsapp">Whatsapp<small>(somente números)</small></label>
                            <input name="whatsapp" id="whatsapp" type="number" required>
                        </div>

                        <!-- Textearea é multilinhamento e torna a caixa livre -->
                        <div class="textarea-block">
                            <label for="bio">Biografia</label>
                            <textarea name="bio" id="bio" required></textarea>
                        </div>

                    </fieldset>

                    <!-- espaço SOBRE AS AULAS -->
                    <fieldset>
                        <legend>Sobre a aula</legend>

                        <div class="select-block">
                            <label for="subject">Matéria</label>
                            <select name="subject" id="subject" required>
                                <option value="">Selecione uma opção</option>
                                {%for subject in subjects%}
                                    <option value="{{loop.index}}">
                                        {{subject}}
                                    </option>
                                {%endfor%}
                            </select>
                        </div>

                        <div class="input-block">
                            <label for="cost">Custo da sua hora/aula <small>(R$)</small></label>
                            <input name="cost" type="cost" id="cost" type="number" required>
                        </div>
                    </fieldset>

                    <!-- espaço dos DIAS DA SEMANA com select -->
                    <fieldset id="schedule-items">

                        <legend>Horários disponíveis 
                            <button type="button" id="add-time"> + Novo horário</button>
                        </legend>
                        
                        <div class="schedule-item">
                            <div class="select-block">
                                <label for="weekday">Dia da semana</label>
                                <select name="weekday[]" required>
                                    <option value="">Selecione uma opção</option>
                                    {%for weekday in weekdays%}
                                    <option value="{{loop.index0}}">
                                        {{weekday}}
                                    </option>
                                    {%endfor%} 
                                </select>
                            </div>
                            
                            <!-- Espaço dos forms da hora -->
                            <div class="input-block">
                                <label for="time_from">Das</label>
                                <input type="time" name="time_from[]" required>
                            </div>

                            <div class="input-block">
                                <label for="time_to">Até</label>
                                <input type="time" name="time_to[]" required>
                            </div>
                        </div>

                    </fieldset>
               </form>
               <!-- Rodapé -->
               <footer>
                   <p>
                       <img src="/imagens/icons/warning.svg" alt="Aviso importante"> 
                       Importante! <br> Preencha todos os dados.
                   </p>
                   <!-- Forma de indicar que o botão precisa enviar o formulário... tag form após o type -->
                   <button type="submit" form="create-class">Salvar cadastro</button>
               </footer>
            </main>
        </div>
    </body>
</html>