<!DOCTYPE html>
<html lang="pt_br"> <!--lang é um atributo--> 
    <head> <!--Configurações do documento-->

        <!-- Meta dados são informações  para a página -->
        <meta charset="UTF-8"><!-- o cód para aceitar a lingua Portuguesa -->
        <meta name="viewport" content ="width = device-width, initial-scale=1.0">
        <meta name="theme-color" content="#8257E5">

        <!-- adicionar o Favicon na página, logo na aba -->
        <link rel="shortcut icon" href="/imagens/favicon.png" type="image/png">
        
        <!-- chamando a folha de style css -->
        <link rel="stylesheet" href="/styles/main.css">
        
        <!-- chamando a folha de style partial css -->
        <link rel="stylesheet" href="/styles/partials/page-landing.css">
        
        <!-- adicionando um estilo de letra chamado "Archivo" -->
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

        <!-- título dapágina na aba -->
        <title>Proffy | Sua plataforma de estudos online</title>

    </head>

    <body id="page-landing"> <!--Todo conteúdo visual na página deverá ir na tag Body-->

        <div id="container">
            
            <div class="logo-container">
                
                <img src="/imagens/logo.svg" alt="Proffly">
                <h2>Sua plataforma de estudos online</h2>

            </div>
            
            <img class="hero-image" src="/imagens/landing.svg" alt="Plataforma de Estudos"><!--Adicionar imagem com descrição-->
            
            <div class="buttons-container">
                
                <a class ="study" href="/study">
                    <img src="/imagens/icons/study.svg" alt="Estudar">
                    Estudar
                </a>
                
                <a class ="give-classes" href="/give-classes">
                    <img src="/imagens/icons/give-classes.svg" alt="Dar aulas">
                    Dar Aulas
                </a>
                <!--Forma de adicionar botão
                <button>Estudar</button>
                <button>Dar Aulas</button>-->
            </div>

            <p class="total-conections">
                Total de 200 conexõesjá realizadas
                <img src="/imagens/icons/purple-heart.svg" alt="Coração Roxo">
            </p>
        </div>
    </body>
</html>